# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
target/

# Java
*.class
*.jar
*.war
*.ear
*.log
*.jcache

# VSCode
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.json

logs/